html{
    font-family: 'Bahnschrift';
}

div#game-options,div#game-operations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#game-options button,#game-operations input{
    transition: color ease 0.505s;
    transition: background-color ease 0.505s;
    transition: box-shadow ease 0.505s;
    transition: opacity ease 0.505s;
    height: calc(100vh*0.0505);
    width: auto;
    border-radius: 7px; 
    opacity: 50%; 
}

#game-options button{
    background-color: #016666;
    color:lightgray;
}


#game-options button:hover{
    opacity: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #8c00ff;
    color: rgb(255, 255, 255);
    align-items: center;
    -webkit-box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,1);
            box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,1);
            box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,1);
}

#game-operations input:hover{
    opacity: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    align-items: center;
    -webkit-box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,1);
            box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,1);
            box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,1);
}


section#inicio,
header a,
form#register,
.deck, 
.box
{
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,1);
            box-shadow: 0px 0px 14px 0px rgba(0,0,0,1);
            box-shadow: 0px 0px 14px 0px rgba(0,0,0,1);
}

form#register {
    max-width: 250px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #008F8C;
    border-radius: 8px;
    background-color: #023535;
    text-align: center;
    color: white;
}

form#register label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form#register input[type="text"],
form#register input[type="password"],
form#register input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #008F8C;
    border-radius: 4px;
}


form#register input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #015958;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form#register input[type="submit"]:hover {
    background-color: #015958;
}


.deck {
    border: 2px solid #008F8C;
    padding: 10px;
    margin: 10px 0;
    background-color: #023535;
    border-radius: 10px;
    width: 250px;
}

.deck h3 {
    margin-top: 0;
    color: white;
}

#ship-placement-form {
    display: flex;
    flex-direction: column;
}

#ship-placement-form label {
    margin-top: 10px;
    color: white;
}

#ship-placement-form input[type="text"],
#ship-placement-form select {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #008F8C;
    border-radius: 5px;
}

#ship-placement-form input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #0CABA8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#ship-placement-form input[type="submit"]:hover {
    background-color: #008F8C;
}
#placed-ships {
    border: 2px solid #008F8C;
    padding: 20px;
    margin: 20px 0;
    background-color: #023535;
    border-radius: 10px;
    width: 250px;
    list-style-type: none;
    padding: 0;
}

#placed-ships h3 {
    margin-top: 0;
    color: white;
    text-align: center;
}

#placed-ships li {
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    border: 1px solid #008F8C;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#placed-ships li button {
    padding: 5px 10px;
    background-color: #0CABA8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#placed-ships li button:hover {
    background-color: #008F8C;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

main {
    flex: 2 2 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#jugar {
    text-align: center;
}

.tables {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


aside#instrucciones h2 {
    width: 100%;
    text-align: center;
    color: white;
}

#container-for-instructions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

aside#instrucciones .box { 
    padding: 15px; 
    margin-bottom: 20px; 
    border: 1px solid #008F8C; 
    border-radius: 8px; 
    background-color: #023535; 
    width: fit-content;
    height: 200px;
    text-align: center;
    color: white;
}

section#inicio {
    background-color: #023535;
    padding: 20px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
}

body {
    background: #0FC2C0;
}

.battleship-board-0, .battleship-board-1, .battleship-board-2, .battleship-board-3, .battleship-board-4 {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 1px;
    background-color: transparent;
    border-radius: 50%;
}
.hit{
    background-color: red;
}
.miss {
    background-color: blue;
}
.position, .border {
    background-color: #015958;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #008F8C;
    position: relative;
    border-radius: 50%;
}
.position:hover {
    background-color: #0CABA8;
    -webkit-box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,1);
}

.header {
    font-weight: bold;
    background-color: white;
}

.ship {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    pointer-events: none;
}

.position .ship {
    width: 100%;
    height: 100%;
    position: absolute; /* Absolute positioning for ships on the board */
    top: 0;
    left: 0;
}


footer {
    padding: 20px;
    background-color: transparent;
    color: white;
    text-align: center;
}

footer h2 {
    margin-top: 0;
    font-size: 24px;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #023535;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
       box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
            box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
}

footer a:hover {
    background-color: #008F8C;
}
header {
    background-color: transparent; 
    padding: 20px;
    color: white;
    text-align: center;
}

header a:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
       box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
}

h1{
    font-family: 'Century Gothic';
    text-shadow: 0px 0px 14px rgb(0, 0, 0);
    transition: text-shadow ease 0.7s;
}

h1:hover{
    text-shadow: 0px 0px 25px rgb(68, 0, 255);
}


nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #023535;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #0CABA8;
}